/* reset */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
/* commons */
h1{
    margin: 20px 0;
}

/* utilities */
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}

/* layout */
.container{
    max-width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100% / 3);
    padding: 5px;
}

/* products */
.product{
    padding-bottom: 20px;
    position: relative;
}
.product img{
    width: 100%;
}
.discount{
    position: absolute;
    top: 0;
    right: 0;
}